services:
  orchestrator:
    build: 
      context: .
      dockerfile: apps/stream_orchestrator/Dockerfile
      #target: "dev" 
    container_name: stream_orchestrator
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Tokyo
    volumes:
      - .:/app-dev/
    ports:
      # Webtop (VNC/GUI操作用) -> localhost:3000 でアクセス
      - "8080:3000"
      # Next.js アプリ本体 -> localhost:3001 でアクセス
      - "3444:3444"
    shm_size: "1gb"
    #restart: unless-stopped
    #command: pnpm --filter stream_orchestrator dev
